priority -40

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################
snippet pydoc "pydoc" b
"""${1:Description}

Args:
    ${2:param} (${3:Type}): ${4: Description}

Returns:
    ${5:Type}: ${6:Description}

Raises:
    e: ${0: Description}
"""
endsnippet

# vim:ft=snippets:
